<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container-fluid">
      <!-- icono -->
      <a class="navbar-brand" href="#"><i class="bi bi-activity"></i></a>
      <button
        class="navbar-toggler"
        type="button"
        data-bs-toggle="collapse"
        data-bs-target="#navbarNav"
        aria-controls="navbarNav"
        aria-expanded="false"
        aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
          <li class="nav-item">
            <!-- link a la lista de actividades -->
            <a class="nav-link active" aria-current="page" href="actividades">Actividades</a>
          </li>
        </ul>
      </div>
    </div>
</nav>